
.gameContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f0719;
 
}

.chat_section_container {
    height: 100%;
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;

}

canvas{
    border-color: #fc5d5b;
    border-style: solid;
    border-width: 10px;
}